body {
  background-color: rgb(212, 212, 212);
  margin: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* padding-top:60px;
  padding-bottom:60px; */
  padding: 60px;
}


.main {
  padding: 30px;
  text-align:center;
  max-height: calc(100vh - 100px);
}

.recipe {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  max-width: flex;
  text-align: center;
}

.contribute {
display:flex;
}

.recipe br {
  margin-top: 12px;
}
