body {
  background-color: rgb(122, 122, 122);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main {
  text-align:center;
  max-height: calc(100vh - 100px);
}

.main h1 {
  font-size: 70px;
  font-family: "serif";
  font-style: oblique;
  font-weight: 600
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  max-width: 650px;
  text-align: center;
  background-color: rgb(212, 212, 212);

}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  text-align:center;
  margin-bottom: 15px;
  color: #000000;
  background-color: #ffffff;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
select:hover {
  background-color: rgb(212, 212, 212);
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #000000;
  background-color: #ffffff;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}
button:hover {
  background-color: rgb(212, 212, 212);
}

.recipe label {
  margin-bottom: 10px;
}

.contribute {
display:flex;
flex-direction:column;
background-color: rgb(212, 212, 212);
padding: 20px;
text-align:center;
margin-bottom: 50px;
}

.contribute input {
  justify-content: center;
  width: 87%;
  height: 26px;
}

.recipe br { 
  /* recipe break */
  margin-top: 12px;
}

ul li {
  margin-bottom: 14px;
  text-indent: 0;
  text-align: justify;
}

ol li {
  margin-bottom: 20px;
  text-indent: 0;
  text-align: justify;
}