body {
  background-color: rgb(122, 122, 122);
  margin: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* padding-top:60px;
  padding-bottom:60px; */
  padding: 60px;
}


.main {
  padding: 30px;
  text-align:center;
  max-height: calc(100vh - 100px);
}

.recipe {
  display: flex;
  flex-direction: column; /* Display children in a column */
  align-items: center;
  border: 1px solid black;
  padding: 20px;
  max-width: flex;
  text-align: center;
  background-color: rgb(212, 212, 212);

}

.recipe label {
  margin-bottom: 10px; /* Add margin between elements */
}

.contribute {
display:flex;
flex-direction:column;
background-color: rgb(212, 212, 212);
padding: 20px;
text-align:center;
margin-bottom: 50px;
}

.recipe br {
  margin-top: 12px;
}
